body {
    font-family: Arial;
    margin: 0;
    background: #eee;
}

.container {
    width: 90%;
    margin: auto;
}

.button {
    padding: 8px;
    background: #07f;
    color: #fff;
    border-radius: 4px;
}

.button:hover {
    background: #05b;
}